export SLACK_CLIENT_ID=
export SLACK_CLIENT_SECRET=
export SLACK_SIGNING_SECRET=
export DB_USERNAME=
export DB_PASSWORD=
export ADMIN_SCOPE=admin.conversations:write
export BOT_SCOPE=channels:history,channels:manage,conversations.connect:manage,conversations.connect:read,conversations.connect:write,remote_files:write,users:read,users:read.email
export DB_NAME=oauth_youtube_demo